<script>
    const parseFilterUrl = (url) => {
        const parts = url.split('|');
        const filters = [];
        for (let i = 0; i < parts.length; i++) {
            const part = parts[i];
            const split = part.split(':');
            const obj = {};
            obj[split[0]] = split[1].split(',');
            filters.push(obj);
        }
        return filters;
    }
    const filtersOld = parseFilterUrl('regions:the-north|people:hodor,the-hound|omg:true');
    window.console.log({
        filtersOld
    });
</script>

<script>
    console.log(' - ');
</script>

<script>
    const parseFilterUrl2 = (url) => {
        const parts = url.split('|');
        const loopParts = parts.map(function(subParts) {
            const splitWithTitle = subParts.split(':');
            const filters = splitWithTitle.slice(1, splitWithTitle.length);
            const filter = {};
            filter[splitWithTitle[0]] = filters[0].split(',');
            return filter;
        });
        return loopParts;
    }
    const filtersNew = parseFilterUrl2('regions:the-north|people:hodor,the-hound|omg:true');
    window.console.log({
        filtersNew
    });
</script>