<div class="card">
    <img class="card__image" src="https://source.unsplash.com/random/350x203/?nature">
    <div class="card__content">
        <h2 class="card__title">Hodor</h2>
        <div class="card__text">
            Hodor is a simple-minded stable-boy at Winterfell. He is popularly known as Hodor because that is the only word he is capable of saying. He is over seven feet tall, and it is hinted that he may have giant ancestry. He has a friendly, childlike disposition
            and possesses great strength, though he is reluctant to use it against others.
        </div>
        <a class="card__link" href="https://en.wikipedia.org/wiki/List_of_A_Song_of_Ice_and_Fire_characters#Hodor">Go to wikipedia</a>
    </div>
</div>

<style>
    a:focus,
    a:active,
    a:visited {
        color: black;
    }
    
    .card {
        max-width: 22rem;
    }
    
    .card__image {
        border-radius: 1rem 1rem 0 0;
        width: 100%;
    }
    
    .card__title {
        margin: 0px 0px 1rem 0px;
    }
    
    .card__content {
        padding: 1rem;
        background-color: #000;
        color: #fff;
        border-radius: 0 0 1rem 1rem;
    }
    
    .card__text {
        margin-bottom: 1rem;
        font-style: italic;
    }

    .card__link {
        color: white;
    }

</style>


<!--
    REM voor alle afmetingen zodat alles schaalbaar is op basis van de verwijzing naar het root HTML element.
    Style tags rondom de CSS zodat de interne CSS sheet werkt.
    Volgorde van de CSS items geordend: bovenaan algemeen (anchor tag voor re-use), onderaan specifiek
    Anchor ipv div : Het is conventioneel beter om anchors te gebruiken voor links
    Img: display block eraf, heeft in dit geval geen toegevoegde waarde (standaard display: inline)
    Img: width: 100% voor responsiveness van de image
    h2 in plaats van div met class title, wederom omdat dit conventioneel beter is
 -->